* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.4fr 0.4fr 1fr;
  grid-template-areas:
    "header"
    "section1"
    "section2"
    "footer";
}

#male {
  display: none;
}

header {
  display: grid;
  grid-area: header;
}

#section-score-board {
  display: grid;
  grid-area: section1;
  color: white;
  place-items: center;
  align-items: start;
  grid-row-start: 2;
  grid-row-end: 3;
}

#section-choices {
  display: grid;
  grid-area: section2;
}

.avatars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 60px;
}

.robotInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.score-board-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 2% 0;
  margin: 2% 0;
}

.wrapz {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.avatars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#uuserName1 {
  font-family: "Zen Tokyo Zoo";
  font-size: 4vw;
  padding: 2rem;
}

#computer-label {
  font-family: "Zen Tokyo Zoo";
  padding: 2rem;
  font-size: 4vw;
}

#user-Name {
  width: 170px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.robot {
  position: relative;
  width: 25%;
}

.winLose {
  display: flex;
  justify-content: center;
  font-family: "Zen Tokyo Zoo";
  font-size: 2vw;
}

.score-wrap {
  font-family: "Zen Tokyo Zoo";
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.winLose-Result div {
  font-family: "Zen Tokyo Zoo";
  font-size: 4vw;
}
.winLose-Result p {
  font-family: "Zen Tokyo Zoo";
  font-size: 4vw;
}

.winLose-Result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  padding: 20px;
}

footer {
  display: grid;
  grid-area: footer;
  color: white;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  display: flex;
  justify-content: center;

  font-size: 3vw;
  font-weight: bold;
  font-family: "Zen Tokyo Zoo";
  text-transform: uppercase;
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #000000,
    0 0 20px rgba(212, 167, 17, 0.5), 0 0 40px #62a0ad, 0 0 100px #49a4cb,
    0 0 200px #44a9cb, 0 0 300px #88a8b5;
  animation: animate 3s infinite alternate;
}

@keyframes animate {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8%;
  }
  43% {
    opacity: 1%;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}

.score-board-wrap span {
  font-family: "Zen Tokyo Zoo";
  font-size: 3vw;
}

.score-board-wrap div {
  font-family: "Zen Tokyo Zoo";
  font-size: 3vw;
}

#message {
  font-family: "Zen Tokyo Zoo";
  text-align: center;
  color: white;
  font-size: 5vh;
}

.score-wrap {
  position: absolute;
}

.result {
  display: flex;
}

.result p {
  margin-top: 5%;
}

.choices-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  border: double white;
  border-width: 0.2rem;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  margin: 3%;
  padding: 4%;
  transition: 0.5s;
}

.r {
  width: 90%;
}

.p {
  width: 86%;
}

.s {
  width: 70%;
}
.choice:hover {
  cursor: pointer;
  transform: skewx(5deg);
  background-color: #040404;
  box-shadow: #ff003c;
  box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.2);
}

#r:hover {
  border-color: #cd75db;
  transform: scale(1.2);
  background: rgba(156, 150, 156, 0);
  box-shadow: 0 0 55px #cd75db;
  color: rgb(93, 216, 235);
}

#s:hover {
  border-color: #fffb6f;
  transform: scale(1.2);
  background: rgba(20, 19, 20, 0);
  box-shadow: 0 0 55px #fffb6f;
  color: rgb(93, 216, 235);
}

#p:hover {
  border-color: #6cccfb;
  transform: scale(1.2);
  background: rgba(20, 19, 20, 0);
  box-shadow: 0 0 55px rgb(59, 155, 246);
  color: rgb(93, 216, 235);
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts li {
  display: flex;
  flex-direction: row;
}

h4 {
  padding: 2%;
}

li {
  display: flex;
  list-style: none;
  padding: 10px;
  font-size: 1rem;
}

ul {
  display: flex;
}

li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1vw;
  color: white;

  flex-direction: row;
}

.fa {
  padding: 2px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #2d3546d7;
  color: rgb(253, 252, 252);
}

.fa-twitter {
  background: #2d3546d7;
  color: #fdfbfb;
}

.fa-instagram {
  background: #2d3546d7;
  color: #fefefd;
}

.male-avatar {
  display: none;
}

.male-avatar {
  border: 5px solid rgb(101, 195, 200);
  background-color: #83a3857d;
  border-radius: 50%;
  box-shadow: 3px 4px 7px 3px rgb(68, 135, 76);
}

.bestOf {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.bestOf label:hover {
  background: rgb(20, 19, 20);
  box-shadow: 0 0 55px rgb(59, 155, 246);
  color: rgb(93, 216, 235);
}

.bestOf label {
  display: flex;
  justify-content: center;
  color: #63cbd9;
  border-radius: 10%;
  font-size: 1.1vw;
  font-family: "Zen Dots";
  background-color: rgba(27, 140, 184, 0.768);
  border: 3px inset rgb(169, 171, 147);
  cursor: pointer;
  padding: 10px;

  /* max-width: 8vw; */
  position: relative;
  top: -8vh;
  margin: 10px;
}

.gameMode {
  color: #6bafc2;
}

.bestOf input {
  display: none;
}

.robot {
  border: 5px solid rgb(235, 102, 100);
  background-color: #b79f9f50;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 3px rgb(212, 142, 153);
}

#male,
#female {
  border: 5px solid rgb(108, 239, 138);
  background-color: #9fb7a050;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 3px rgb(130, 236, 199);
}

.score {
  font-size: 6vw;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-rows: 2fr 2fr 2fr 0.2fr;
  }
}

@media (max-width: 415px) {
  .grid-container {
    grid-template-rows: 1fr 2fr 3fr 1fr;
  }
  .score-wrap {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (orientation: landscape) {
  .grid-container {
    grid-template-rows: 0.1fr 0.5fr 0.5fr 0.1fr;
  }

  .logo-img {
    width: 5%;
  }
}

#Sten,
#Påse,
#Sax,
#Sten2,
#Påse2,
#Sax2 {
  display: none;
  animation: shake 0.5s;
  width: 4vw;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.userChoice-img {
  display: flex;
  justify-content: flex-start;
  padding: 12px;
}

.computerChoice-img {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}
