* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.4fr 0.4fr 1fr;
  grid-template-areas:
    "header"
    "section1"
    "section2"
    "footer";
}

#male {
  display: none;
}

/* .grid-container {
  display:none
} */

header {
  display: grid;
  grid-area: header;
}

#section-score-board {
  display: grid;
  grid-area: section1;
  color: white;
  place-items: center;
  align-items: start;
  grid-row-start: 2;
  grid-row-end: 3;
}

#section-choices {
  display: grid;
  grid-area: section2;
}

.avatars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 60px;
}

.robotInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.score-board-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 2% 0;
  margin: 2% 0;
}

.wrapz {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.avatars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#male {
}

#uuserName1 {
  font-family: "Zen Tokyo Zoo";
  font-size: 4vw;
  padding: 2rem;
}

#computer-label {
  font-family: "Zen Tokyo Zoo";
  padding: 2rem;
  font-size: 4vw;
}

#user-Name {
  width: 170px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

/* #empty {
  display:flex;
  justify-content: center;
  font-size: 3rem;
  width: 60px;
} */

.robot {
  position: relative;
  width: 25%;
}

.winLose {
  display: flex;
  justify-content: center;
  font-family: "Zen Tokyo Zoo";
  font-size: 2vw;
}

.score-wrap {
  font-family: "Zen Tokyo Zoo";
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* border: 3px double rgb(231, 164, 164);
  padding: 10px;
  background-color: #cd75db44; */

.winLose-Result div {
  font-family: "Zen Tokyo Zoo";
  font-size: 4vw;
}
.winLose-Result p {
  font-family: "Zen Tokyo Zoo";
  font-size: 4vw;
}

.winLose-Result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*   padding-left: 10%;
  padding-right: 10%; */
}

.logo {
  padding: 20px;
}

footer {
  display: grid;
  grid-area: footer;
  color: white;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  display: flex;
  justify-content: center;

  font-size: 3vw;
  font-weight: bold;
  font-family: "Zen Tokyo Zoo";
  text-transform: uppercase;
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c,
    0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
  animation: animate 3s infinite alternate;
}

@keyframes animate {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8%;
  }
  43% {
    opacity: 1%;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}

.score-board-wrap span {
  font-family: "Zen Tokyo Zoo";
  font-size: 3vw;
}

.score-board-wrap div {
  font-family: "Zen Tokyo Zoo";
  font-size: 3vw;
}

#message {
  font-family: "Zen Tokyo Zoo";
  text-align: center;
  color: white;
  font-size: 5vh;
}

.score-wrap {
  position: absolute;
}

.result p {
  margin-top: 5%;
}

/* .scorewrap {
  position: relative;
  display: flex;
  justify-content: center;
} */

.choices-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  border: double white;
  border-width: 0.2rem;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  margin: 3%;
  padding: 4%;
  transition: 0.5s;
}

.r {
  width: 90%;
}

.p {
  width: 86%;
}

.s {
  width: 70%;
}
.choice:hover {
  cursor: pointer;
  transform: skewx(5deg);
  background-color: #040404;
  /* border-color: #ff003c; */
  box-shadow: #ff003c;
  box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.2);
}

#r:hover {
  border-color: #cd75db;
  transform: scale(1.2);
  background: rgba(156, 150, 156, 0);
  box-shadow: 0 0 55px #cd75db;
  color: rgb(93, 216, 235);
}

#s:hover {
  border-color: #fffb6f;
  transform: scale(1.2);
  background: rgba(20, 19, 20, 0);
  box-shadow: 0 0 55px #fffb6f;
  color: rgb(93, 216, 235);
}

#p:hover {
  border-color: #6cccfb;
  transform: scale(1.2);
  background: rgba(20, 19, 20, 0);
  box-shadow: 0 0 55px rgb(59, 155, 246);
  color: rgb(93, 216, 235);
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts li {
  display: flex;
  flex-direction: row;
}

h4 {
  padding: 2%;
}

li {
  display: flex;
  list-style: none;
  padding: 10px;
  font-size: 1rem;
}

ul {
  display: flex;
}

li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1vw;
  color: white;

  flex-direction: row;
}

.fa {
  padding: 2px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #2d3546d7;
  color: rgb(253, 252, 252);
}

.fa-twitter {
  background: #2d3546d7;
  color: #fdfbfb;
}

.fa-instagram {
  background: #2d3546d7;
  color: #fefefd;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-rows: 0.7fr 0.9fr 3fr 0.1fr;
  }
}

@media (max-width: 415px) {
  .grid-container {
    grid-template-rows: 2fr 3fr 5fr 0.2fr;
  }
}

@media (orientation: landscape) {
  .grid-container {
    grid-template-rows: 0.1fr 0.5fr 0.5fr 0.1fr;
  }
  /* .title {
    font-size: 3vw;
  }

  .score-board-wrap span {
    font-size: 3vw;
  }

  .score-board-wrap div {
    font-size: 3vw;
  }

  .winLose-Result div {
    font-size: 2vw;
  }
  .winLose-Result p {
    font-size: 2vw;
  } */
  .logo-img {
    width: 5%;
  }
}

.male-avatar {
  display: none;
}

.male-avatar {
  border: 5px solid rgb(116, 239, 128);
  background-color: #83a3857d;
  border-radius: 50%;
  box-shadow: 3px 4px 7px 3px rgb(68, 135, 76);
}

.robot {
  border: 5px solid rgb(235, 102, 100);
  background-color: #d35b5b50;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 3px rgb(216, 59, 85);
}

#male {
  border: 5px solid rgb(153, 229, 123);
  background-color: #5bd36350;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 3px rgb(12, 238, 159);
}

#female {
  border: 5px solid rgb(153, 229, 123);
  background-color: #5bd36350;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 3px rgb(12, 238, 159);
}

/*
@media (max-width: 600px) {
  #user-score {
    font-size: 1.4rem;
    padding: 2%;
  }

  #computer-score {
    font-size: 1.4rem;
    padding: 2%;
  }

  .score-board {
    font-size: 2rem;
    border: 0.3rem double rgb(202, 21, 67);
  }
}*/
/*
@media (max-width: 1000px) {
  #user-label {
    left: -600%;
    margin-left: 10%;
    font-size: 2rem;
  }

  #computer-label {
    right: -600%;
    font-size: 2rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1fr 2fr;
    grid-template-areas:
      "header"
      "section1"
      "section2"
      "footer";
  }
  #message {
    font-size: 2rem;
  }

  .winLose {
  
    margin-top: 23%;
  }

  

  #user-score {
  
    padding: 2%;
  }

  #computer-score {
  
    padding: 2%;
  }

  .score-board {
    font-size: 2.5rem;
    border: 0.3rem double rgb(202, 21, 67);
  }
}
*/

/*.score-board {
  
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5%;
   font-size: 3vh;
   border: 7px double white;
   height: 15%;
  

} */

/* .score-board-wrap {
  
  position: relative;
  padding: 2%;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
} */

/* #user-label {
 position: relative;
 top: 3.5vh;
 right: 20vh;
 height: 10%;
 font-size: 2rem; 
 

  
}*/

/* #computer-label {
  position: relative;
  top: 3.5vh;
  right: -1vh;
  justify-content: space-between;
  height: 10%;
  font-size: 2rem;
} */

/* #user-score {

  display: flex;
  position: relative;
  justify-content: center;
 
}

#computer-score {
  display: flex;
  position: relative;
  justify-content: center;
}  */

/* .score-board {
   
    font-family: 'Zen Tokyo Zoo';
    margin: 20px auto;
    border: 7px double rgb(202, 21, 67);
    border-radius: 20px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 100px;
    position: relative;
  }
 */

/*   .img-logo {
    padding: 1%;
  }

  #imglogo  {
    border-radius: 50%;
  }

  header,
  .score-board,
  .badge,
  .result,
  .winLose,
  #message {
    font-family: sans-serif;
  }
  
  body {
    background-image: url('/images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  header {
    padding: 10px;
    font-size: 30px;
  }
  
  header > h1 {
        display: grid;  
        position: relative;
        top: 20px;
        grid-area: header;
        text-align: center; 
        font-size: 80px;
        font-weight: bold;
        font-family: 'Zen Tokyo Zoo';
        text-transform: uppercase;
        color: #ffd9e2;
        text-shadow: 0 0 0 transparent,
        0 0 10px #ff003c,
        0 0 20px rgba(255, 0, 60, 0.5),
        0 0 40px #ff003c,
        0 0 100px #ff003c,
        0 0 200px #ff003c,
        0 0 300px #ff003c,
        0 0 500px #ff003c,
        0 0 1000px #ff003c;
        animation: animate 3s infinite alternate;
      }
      
      @keyframes animate {
          40% {
              opacity:1;
          }
          42% {
              opacity: 0.8%
          }
          43% {
              opacity: 1%
          }
          45% {
              opacity: 0.3;
          }
          46% {
              opacity: 1;
          }
      }
  
  
  .score-board {
   
    font-family: 'Zen Tokyo Zoo';
    margin: 20px auto;
    border: 7px double rgb(202, 21, 67);
    border-radius: 20px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 100px;
    position: relative;
  }
  
  .badge {
   
    display: grid;  
    top: 20px;
    grid-area: header;
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
    font-family: 'Zen Tokyo Zoo';
    text-transform: uppercase;
    color: #d7a5f1;
    text-shadow: 0 0 0 transparent,
    0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 0.5),
    0 0 40px #ff003c,
    0 0 100px #ff003c,
    0 0 200px #ff003c,
    0 0 300px #ff003c,
    0 0 500px #ff003c,
    0 0 1000px #ff003c;
  }
  
  
  #user-label {
    position: absolute;
    top: 35px;
    left: -100px;
    
  }
  
  #computer-label {
    position: absolute;
    top: 35px;
    right: -100px;
  }
  
  .result {
    font-family: 'Zen Tokyo Zoo';
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 1px;
  }
  
  .winLose {
    font-family: 'Zen Tokyo Zoo';
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 1px;
  }
  
  .choicesWrapper {
    margin: 50px 100px;
    text-align: center;
  }
  
  .choice {
    border: 8px double white;
    border-radius: 20px;
    display: inline-block;
    margin: 0 20px;
    padding: 20px;
    transition: 0.5s;
   
 
  }
  
  .choice:hover {
    cursor: pointer;
    transform: skewx(5deg);
    background-color: #040404;

    box-shadow: #ff003c;
    box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.2);
  }
  
  #message {
    font-family: 'Zen Tokyo Zoo';
    text-align: center;
    color: white;
    font-size: 30px;
  }
  

  
 
  

  .r {
    width: 100%;
  }

  .p {
    width:86%;
  }

  .s {
    width: 70%;
  }


  #r:hover {
    border-color: #cd75db;
    transform: scale(1.2);
    background: rgba(156, 150, 156, 0);
    box-shadow: 0 0 55px #cd75db;
    color: rgb(93, 216, 235);
  }

  #s:hover {
    border-color: #FFFB6F;
    transform: scale(1.2);
    background: rgba(20, 19, 20, 0);
    box-shadow: 0 0 55px #FFFB6F;
    color: rgb(93, 216, 235);
  }

  #p:hover {
    border-color: #6CCCFB;
    transform: scale(1.2);
    background: rgba(20, 19, 20, 0);
    box-shadow: 0 0 55px rgb(59, 155, 246);
    color: rgb(93, 216, 235);
   
  }


  @media (max-width: 520px) {
    #user-label {
      font-size: 10%;
    }

    
    #computer-label {
      font-size: 10%;
    }

    header h1 {
      font-size: 4vh;
      
    }

    .score-board {
      position: relative;
      width: 100px;
      height: 80px;
      font-size: 50px;
   
    }

   .choicesWrapper {
    display: flex;
    flex-direction: column;
    
    width: 50%;
   }
   .choise {
    width: 50%;
   }

   .result {
    font-size: 20px;
   }
  } */
