
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body {
    background-image: url('/images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }


  .grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 3fr 2fr 2fr;
    grid-template-areas: 
                        "header"
                        "section1"
                        "section2"
                        "footer";
  }


  header{
    display: grid;
    grid-area: header;
  }


  #section-score-board {
    display: grid;
    grid-area: section1;
    color: white;
  }
  
 #section-choices {
  display:grid;
  grid-area: section2
 }

 
 footer {
  display:grid;
  grid-area: footer;
  color: white;
 }


 .title {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  font-weight: bold;
  font-family: 'Zen Tokyo Zoo';
  text-transform: uppercase;
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent,
  0 0 10px #ff003c,
  0 0 20px rgba(255, 0, 60, 0.5),
  0 0 40px #ff003c,
  0 0 100px #ff003c,
  0 0 200px #ff003c,
  0 0 300px #ff003c,
  0 0 500px #ff003c,
  0 0 1000px #ff003c;
  animation: animate 3s infinite alternate;
 }

 @keyframes animate {
  40% {
      opacity:1;
  }
  42% {
      opacity: 0.8%
  }
  43% {
      opacity: 1%
  }
  45% {
      opacity: 0.3;
  }
  46% {
      opacity: 1;
  }
}


.score-board {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5%;
   height: 25%;
   font-size: 3 vh;
   border: 7px double white;
  

}

.score-board-wrap {
  padding: 2%;
  display: flex;
  justify-content: center;
}



#user-label {
 position: relative;
 top: 10px;

  
}

#computer-label {
  position: relative;
  top: 10px;
  right: -200px;
  justify-content: center;
}

 #user-score {
  display: flex;
  position: relative;
  justify-content: center;
 
}

#computer-score {
  display: flex;
  position: relative;
  justify-content: center;
} 



/* .score-board {
   
    font-family: 'Zen Tokyo Zoo';
    margin: 20px auto;
    border: 7px double rgb(202, 21, 67);
    border-radius: 20px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 100px;
    position: relative;
  }
 */











/*   .img-logo {
    padding: 1%;
  }

  #imglogo  {
    border-radius: 50%;
  }

  header,
  .score-board,
  .badge,
  .result,
  .winLose,
  #message {
    font-family: sans-serif;
  }
  
  body {
    background-image: url('/images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  header {
    padding: 10px;
    font-size: 30px;
  }
  
  header > h1 {
        display: grid;  
        position: relative;
        top: 20px;
        grid-area: header;
        text-align: center; 
        font-size: 80px;
        font-weight: bold;
        font-family: 'Zen Tokyo Zoo';
        text-transform: uppercase;
        color: #ffd9e2;
        text-shadow: 0 0 0 transparent,
        0 0 10px #ff003c,
        0 0 20px rgba(255, 0, 60, 0.5),
        0 0 40px #ff003c,
        0 0 100px #ff003c,
        0 0 200px #ff003c,
        0 0 300px #ff003c,
        0 0 500px #ff003c,
        0 0 1000px #ff003c;
        animation: animate 3s infinite alternate;
      }
      
      @keyframes animate {
          40% {
              opacity:1;
          }
          42% {
              opacity: 0.8%
          }
          43% {
              opacity: 1%
          }
          45% {
              opacity: 0.3;
          }
          46% {
              opacity: 1;
          }
      }
  
  
  .score-board {
   
    font-family: 'Zen Tokyo Zoo';
    margin: 20px auto;
    border: 7px double rgb(202, 21, 67);
    border-radius: 20px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 100px;
    position: relative;
  }
  
  .badge {
   
    display: grid;  
    top: 20px;
    grid-area: header;
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
    font-family: 'Zen Tokyo Zoo';
    text-transform: uppercase;
    color: #d7a5f1;
    text-shadow: 0 0 0 transparent,
    0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 0.5),
    0 0 40px #ff003c,
    0 0 100px #ff003c,
    0 0 200px #ff003c,
    0 0 300px #ff003c,
    0 0 500px #ff003c,
    0 0 1000px #ff003c;
  }
  
  
  #user-label {
    position: absolute;
    top: 35px;
    left: -100px;
    
  }
  
  #computer-label {
    position: absolute;
    top: 35px;
    right: -100px;
  }
  
  .result {
    font-family: 'Zen Tokyo Zoo';
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 1px;
  }
  
  .winLose {
    font-family: 'Zen Tokyo Zoo';
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 1px;
  }
  
  .choicesWrapper {
    margin: 50px 100px;
    text-align: center;
  }
  
  .choice {
    border: 8px double white;
    border-radius: 20px;
    display: inline-block;
    margin: 0 20px;
    padding: 20px;
    transition: 0.5s;
   
 
  }
  
  .choice:hover {
    cursor: pointer;
    transform: skewx(5deg);
    background-color: #040404;

    box-shadow: #ff003c;
    box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.2);
  }
  
  #message {
    font-family: 'Zen Tokyo Zoo';
    text-align: center;
    color: white;
    font-size: 30px;
  }
  

  
 
  

  .r {
    width: 100%;
  }

  .p {
    width:86%;
  }

  .s {
    width: 70%;
  }


  #r:hover {
    border-color: #cd75db;
    transform: scale(1.2);
    background: rgba(156, 150, 156, 0);
    box-shadow: 0 0 55px #cd75db;
    color: rgb(93, 216, 235);
  }

  #s:hover {
    border-color: #FFFB6F;
    transform: scale(1.2);
    background: rgba(20, 19, 20, 0);
    box-shadow: 0 0 55px #FFFB6F;
    color: rgb(93, 216, 235);
  }

  #p:hover {
    border-color: #6CCCFB;
    transform: scale(1.2);
    background: rgba(20, 19, 20, 0);
    box-shadow: 0 0 55px rgb(59, 155, 246);
    color: rgb(93, 216, 235);
   
  }


  @media (max-width: 520px) {
    #user-label {
      font-size: 10%;
    }

    
    #computer-label {
      font-size: 10%;
    }

    header h1 {
      font-size: 4vh;
      
    }

    .score-board {
      position: relative;
      width: 100px;
      height: 80px;
      font-size: 50px;
   
    }

   .choicesWrapper {
    display: flex;
    flex-direction: column;
    
    width: 50%;
   }
   .choise {
    width: 50%;
   }

   .result {
    font-size: 20px;
   }
  } */